@import '../../scss/vars/variables.scss';
@import '../../scss/mixins.scss';

.main-page {
  .topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    &-left {
      display: flex;
      gap: 1.1rem;

      .input-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 2.7rem;
        width: 25rem;
        gap: 0.6rem;
        padding: 0.6rem 1.1rem;
        box-shadow: $grey-shadow;
        border-radius: 43rem;
        background-color: $white;
        font: $font-m;
        overflow: hidden;

        button {
          border: none;
          outline: none;
          background: none;
        }

        .close-button {
          display: none;
        }

        input {
          width: 100%;
          font: $font-m;
          color: $grey;
          outline: none;
          border: none;

          &::-webkit-input-placeholder {
            color: $grey;
          }

          &:-moz-placeholder {
            color: $grey;
          }

          &::-moz-placeholder {
            color: $grey;
          }

          &:-ms-input-placeholder {
            color: $grey;
          }
        }

        img {
          max-width: 1.1rem;
          min-width: 1.1rem;
        }
      }

      .sort-button {
        @include center;
        height: 2.7rem;
        width: 10.7rem;
        gap: 0.6rem;
        padding: 0.6rem 1.1rem;
        background-color: $white;
        box-shadow: $grey-shadow;
        border-radius: 43rem;
        font: $font-m;
        color: $grey;
        border: none;
        outline: none;
      }

      .icon {
        height: 16px;
        width: 16px;
      }
    }

    &-right {
      display: flex;
      gap: 1.1rem;

      button {
        @include center;
        height: 2.7rem;
        width: 2.7rem;
        padding: 0.7rem;
        border-radius: 100%;
        border: none;
        outline: none;
        background: $white;
        filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
          drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
        cursor: pointer;

        .icon * {
          fill: $grey;
        }

        &:hover {
          background: $orange;

          .icon * {
            fill: $white;
          }
        }
      }

      .icon {
        height: 1.35rem;
        width: 1.35rem;
      }

      button.active {
        background: $orange;

        .icon * {
          fill: $white;
        }
      }
    }
  }

  .table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1.7rem;
    grid-column-gap: 1.5rem;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.1rem;
  }
}
