@import '../scss/mixins.scss';
@import '../scss/vars/variables.scss';

@media (max-width: 992px) {
  .layout {
    width: 45.7rem;
  }

  .header {
    .logo {
      display: none;
    }

    .menu-button {
      display: flex;
      align-items: center;
    }

    .header-right-part .header-user {
      display: none;
    }
  }

  .sidebar {
    display: none;
  }

  .main-page {
    .topbar .topbar-left .input-container {
      width: 19.6rem;
    }

    .table {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card-table .bottom p {
    font: $font-s;
  }

  .card-list {
    padding: 1.1rem 1.7rem 1.1rem 1.1rem;

    .right-part {
      gap: 1.1rem;

      .top {
        .title {
          font: $font-xxxl;
          line-height: 2.1rem;
        }
      }
    }
  }

  .book-page {
    .book {
      .top {
        grid-template-areas:
          'A B'
          'C C';
        grid-template-columns: 9.7rem;
        grid-column-gap: 2.3rem;

        .cover {
          max-width: 9.8rem;
          min-width: 9.8rem;

          .swiper {
            display: flex;
            justify-content: center;
            gap: 1rem;

            &-top {
              .swiper-pagination {
                display: flex;
                position: absolute;
                top: 14.85rem;
                width: 100%;
              }
              .swiper-pagination-bullet {
                width: 0.5rem;
                height: 0.5rem;
                display: inline-block;
                border-radius: 50%;
                background: $button-booked-border;
                transition: 0.4s;
              }

              .swiper-pagination-bullet-active {
                width: 0.57rem;
                height: 0.57rem;
                background: $black;
              }
            }

            &-bottom {
              display: none;
            }
          }
        }

        .hr {
          background: $button-occupied-background;
        }

        img {
          max-width: 9.7rem;
          min-width: 9.7rem;
          max-height: 14.1rem;
          min-height: 14.1rem;
          margin-bottom: 3.4rem;
        }

        .line {
          height: 6.3rem;
          font: $font-l;
          margin-bottom: 3.4rem;
        }

        .title {
          margin-bottom: 3.4rem;

          h1 {
            font: $font-xxxl;
            line-height: 2.14rem;
            margin-bottom: 2.3rem;
          }

          .author {
            font: $font-xl;
            line-height: 1.3rem;
            margin-bottom: 2.3rem;
          }

          button {
            max-width: 21.85rem;
            min-width: 21.85rem;
          }
        }

        .description {
          h2 {
            font: $terms-font;
            line-height: 1.7rem;
          }
        }
      }

      .middle {
        .hr {
          background: $button-occupied-background;
        }

        p {
          font: $terms-font;
        }

        &-rating {
          margin-bottom: 3.7rem;
        }

        .table {
          display: flex;
          justify-content: space-between;
          width: 100%;

          table {
            tr {
              td {
                line-height: 1.3rem;
              }

              td:first-child {
                font: $font-xl;
                min-width: 9.85rem;
              }

              td:last-child {
                font: $font-m;
              }
            }
          }

          table:first-child {
            width: 21.8rem;
          }

          table:last-child {
            width: 21.8rem;
          }
        }
      }

      .bottom {
        > p {
          font: $terms-font;
        }

        .button {
          button {
            max-width: 100%;
            min-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .layout {
    width: 90%;
  }

  .header {
    &-right-part {
      h1 {
        font: $small-header-font;
      }
    }
    .menu-button .menu-button-icon {
      max-height: 1.7rem;
      max-width: 1.7rem;
    }

    .nav-menu {
      width: 100%;
    }
  }

  .card-table {
    padding: 0.57rem 1.1rem 1.1rem 1.1rem;

    .bottom {
      p {
        font: $font-xxs;
      }

      .button {
        width: 100%;

        button {
          max-width: 100%;
          min-width: 100%;
        }
      }
    }
  }

  .main-page {
    .topbar {
      .topbar-left {
        width: 100%;

        .sort-button {
          display: none;
        }

        .input-container {
          width: 100%;
          height: 2.3rem;
          padding: 0.57rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: 0.4s;

          .search-button {
            pointer-events: all;
          }

          input {
            transform: scaleX(1);
          }

          .close-button {
            display: block;
          }
        }

        span {
          display: none;
        }

        button {
          width: 2.3rem;
          height: 2.3rem;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span {
          display: none;
        }
      }

      .topbar-right {
        display: none;
      }

      .topbar-right button {
        width: 2.3rem;
        height: 2.3rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          height: 1.1rem;
          width: 1.1rem;
        }
      }
    }

    .topbar.scaled {
      .topbar-left {
        .input-container {
          width: 2.3rem;
          height: 2.3rem;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .close-button {
            display: none;
          }

          input {
            transform: scaleX(0);
            display: none;
          }
        }

        .sort-button {
          display: flex;
        }
      }

      .topbar-right {
        display: flex;
      }
    }

    .table {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  .card-list {
    padding: 1.1rem 1.1rem 1.1rem 0.57rem;

    img {
      max-width: 5rem;
      min-width: 5rem;
      max-height: 7.1rem;
      min-height: 7.1rem;
    }

    .right-part {
      gap: 3px;

      .top {
        .title {
          font: $font-xl;
          line-height: 1.3rem;
          margin-bottom: 3px;
        }

        .author {
          font: $font-xxs;
          line-height: 1.3rem;
          color: $light-black;
        }
      }

      .bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.1rem;

        button {
          max-width: 13.3rem;
          min-width: 13.3rem;
        }
      }
    }

    .rating {
      width: 7.43rem;

      .icon {
        height: 1.1rem;
        width: 1.1rem;
      }
    }
  }

  .terms-page {
    h1 {
      font: $small-header-font;
      margin-bottom: 1.7rem;
    }
    ul {
      li {
        margin-bottom: 2.3rem;

        h2 {
          margin-bottom: 1.14rem;
          font: $terms-font;
        }

        ul {
          padding-left: 2.1rem;
          li,
          p {
            font: $terms-font-mobile;
            line-height: 1.4rem;
          }
        }
      }
    }
  }

  .book-page {
    .hr {
      width: 100%;
      background: $button-occupied-background;
      margin: 0.6rem 0;
    }

    .book {
      .top {
        grid-template-areas:
          'A A'
          'B B'
          'C C';

        .cover {
          max-width: none;
          min-width: none;

          .swiper {
            gap: 1rem;

            &-wrapper {
              margin-bottom: 2rem;
            }

            &-top {
              .swiper-pagination {
                display: flex;
                position: absolute;
                top: 19.7rem;
                width: 13.4rem;
              }
            }

            &-bottom {
              display: none;
            }
          }
        }

        img {
          grid-area: A;
          max-width: 13.4rem;
          min-width: 13.4rem;
          max-height: 18.57rem;
          min-height: 18.57rem;
          margin: 0 auto 1.1rem auto;
        }

        .title {
          h1 {
            font: $small-header-font;
            line-height: 2rem;
            margin-bottom: 3rem;
          }

          .author {
            font: $font-xxs;
            line-height: 1.3rem;
            margin-bottom: 3rem;
          }

          button {
            height: 2.85rem;
            max-width: 100%;
            min-width: 100%;
            font: $font-xs;
            line-height: 1.3rem;
            margin-bottom: 1.4rem;
          }
        }

        .description {
          h2 {
            font: $terms-font;
            line-height: 1.7rem;
          }
        }
      }

      .middle {
        p {
          font: $terms-font;
        }

        &-rating {
          margin-bottom: 3.7rem;

          .rating {
            min-width: 15.57rem;
          }

          .sharp {
            display: none;
          }

          .smooth {
            display: block;
          }

          p {
            font: $small-header-font;
            line-height: 2rem;
          }
        }

        .table {
          flex-direction: column;
          width: 100%;

          table {
            tr {
              td {
                line-height: 1.3rem;
              }

              td:first-child {
                font: $font-xl;
                min-width: 9.3rem;
              }

              td:last-child {
                font: $font-m;
              }
            }
          }

          table:first-child {
            width: 100%;
          }

          table:last-child {
            width: 100%;
          }
        }
      }

      .bottom {
        > p {
          font: $terms-font;
        }

        .button {
          margin-bottom: 1.4rem;

          button {
            height: 2.85rem;
            max-width: 100%;
            min-width: 100%;
            font: $font-xs;
          }
        }

        .comments {
          .comment {
            p {
              font: $terms-font-mobile;
            }

            &-header .text {
              flex-direction: column;
              gap: 3px;
            }
          }
        }
      }
    }
  }

  .footer {
    flex-direction: column;
    align-items: center;
    height: 7.2rem;

    p {
      max-width: 16rem;
      text-align: center;
    }
  }
}
