$orange: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
$orange-mono: #f9720e;
$grey: #a7a7a7;
$pink: #ff5253;
$error-background: #feebea;
$error-color: #f42c4f;
$light-grey: #ebebeb;
$light-black: #727272;
$white: #ffffff;
$grey-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
  0px 1px 5px rgba(191, 196, 201, 0.24);
$button-booked-border: #bfc4c9;
$black: #363636;
$button-occupied-background: #f9f9fa;
$star-color: #ffbc1f;
$loader-background: rgba(54, 54, 54, 0.3);
