@import '../../../scss/vars/variables.scss';

.rating {
  width: 10.3rem;

  p {
    font: $font-m;
  }

  .stars {
    display: flex;
    justify-content: space-between;
  }

  .star-filled * {
    fill: #ffbc1f;
  }
}
