@import '../../scss/vars/variables.scss';

.layout-main {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
  width: 79.3rem;
  margin: 0 auto 4.4rem auto;
  flex: 1 0 auto;

  .outlet {
    width: 100%;
  }
}
